<h1>Tasks</h1>

 <%= form_for :task, remote: true do |form| %>
   <%= form.text_field :title %>
   <%= form.submit 'Add task' %>
 <% end %>
 <ul id="tasks">
 <% @tasks.each do |task| %>
   <%= render partial: 'task', object: task %>
 <% end %>
 </ul>
